/* INPUT - COMPONENTS */

.form {

    &-group {
        margin-bottom: 16px;

        &:last-child {
            margin-bottom: 0;
        }

        label {
            display: block;
            
            font-size: 12px;
            color: $black;
            font-weight: 600;

            margin-bottom: 8px;

            @include bp-xl {
                font-size: 16px;
            }

            @include bp-xs {
                font-size: 12px;
            }
        }

        &.multiple {
            margin-top: 30px;
        }
    }

    &-control {
        width: 100%;
        height: 48px;
        background: $gray;
        color: $black;
        padding: 0 20px;
        font-size: 12px;

        border: none;
        border-radius: 15px;
        box-sizing: border-box;
    }

}

.multiple-choices {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.radio-choice {
    background: $gray;
    color: $black-50;
    width: 76px;
    height: 48px;
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    cursor: pointer;

    label {
        margin-bottom: 0;

        cursor: pointer;
    }

    input {
        display: none;
    }

    &.selected {
        background: $primary-color;

        label {
            color: $white;
        }
    }

}

.newsletter {

    .form {

        &-group {

            label {
                font-size: 16px;
                font-weight: 500;
                margin-bottom: 10px;

                @include bp-xl {
                    font-size: 12px;
                }
            }

        }

        &-control {
            border: 1px solid $black;
            border-radius: 15px;
            height: 48px;

            @include bp-xl {
                height: 32px;
                border-radius: 50px;
            }
        }
    }

}

.contact {

    .form {

        &-group {
            margin-bottom: 25px;
        }

        &-control {
            height: 65px;
            border-radius: 0;

            padding-left: 32px;

            color: $black;
            font-size: 18px;
            font-weight: 500;

            @include bp-xs {
                font-size: 14px;
                padding-left: 14px;
            }
        }

    }

    textarea.form-control {
        padding-top: 15px;
        height: 230px;
        resize: vertical;
    }

    
    ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color:    $black;
    }

    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:    $black;
        opacity:  1;
    }

    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:    $black;
        opacity:  1;
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color:    $black;
    }

    ::-ms-input-placeholder { /* Microsoft Edge */
        color:    $black;
    }

    ::placeholder { /* Most modern browsers support this now. */
        color:    $black;
    }
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 $white;
}
