/* NAV - COMPONENTS */

.nav {
    
    &-content {
        display: flex;

        padding: 0;

        @include bp-xl {
            display: none;
        }

        &.open {
            display: block;

            position: absolute;
            top: 0;
            right: 0;

            width: 185px;
            box-sizing: border-box;
            background: $white;
            padding: 30px 15px;
            border-radius: 7px;
            z-index: 1;

            @include bp-xl {
                right: 100px;
            }

            @include bp-xs {
                right: 0px;
            }
        }
    }

    &-item {
        margin-right: 60px;

        &:last-child {
            margin-right: 0;
        }
    }

    &-link {
        font-weight: 600;
        color: $black-50;

        @include bp-xl {
            font-size: 14px;
        }
    }

}