/* SECTION - COMPONENTS */

.section {

    &.centered-content {
        @include display-flex-center-y;
    }

    &__title {
        font-size: 96px;
        font-weight: 500;
    
        color: $black;
        font-family: $font-family-titles;
        line-height: 41px;

        &.white {
            color: $white;
        }

        @include bp-xl {
            font-size: 48px;
        }
    }

    &__subtitle {
        font-size: 20px;
        font-weight: 500;
    
        color: $black-50;

        margin-top: 10px;

        &.white {
            color: $white;
        }

        @include bp-xl {
            margin-top: 0;

            font-size: 12px;
        }

        @include bp-xs {
            margin-top: 10px;
        }
    }

}

.with-banner .section {

    &__header {
        display: flex;
        justify-content: space-between;

        &.centered {
            justify-content: center;

            @include bp-xs {
                justify-content: flex-start;
            }
    
        }
    }

    &__title {
        &.raw {
            font-family: $font-family-content;
            font-size: 48px;
            font-weight: 700;
            color: $black;
            line-height: 72px;

            @include bp-xl {
                font-size: 32px;
                line-height: 48px;
            }

            @include bp-xs {
                font-size: 20px;
                line-height: 30px;
            }
    
        }

    }

    &__date {
        font-size: 32px;
        font-weight: 700;
        color: $black;
        line-height: 48px;

        @include bp-xs {
            font-size: 16px;
            line-height: 25px;
        }
    }

    &__price {
        font-size: 48px;
        font-weight: 400;
        color: $black-50;
        line-height: 72px;

        @include bp-xs {
            font-size: 24px;
            line-height: 35px;
        }
    }

    &__text {
        font-size: 16px;
        font-weight: 400;
        color: $dark-gray;
        line-height: 25px;

        margin-bottom: 35px;

        @include bp-xs {
            font-size: 12px;
            line-height: 18px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__btn {
        margin: 0 auto;

        @include bp-xl {
            font-size: 20px;

            width: 280px;
        }

        @include bp-xs {
            font-size: 10px;

            width: 146px;
            height: 32px;

            border-radius: 7px;
        }
    }

}