/* SLIDER - COMPONENTS */
$arrow-size: 66px;

.slider {
    position: relative;

    overflow-y: hidden;

    .slide-item {
        position: relative;
    }

    .slide-content {
        @include translateY(-50%);

        position: absolute;
        top: calc(50% - #{$navigation-gap});
        z-index: 1;
        
        @include bp-xl {
            top: 50%;
        }

        @include bp-xs {
            top: calc(50% - 75px);
        }

        .container-fluid {
            @include bp-xs {
                width: auto;
            }
        }
    }

    .slide-title {
        color: $white;
        font-size: 101px;
        font-weight: 700;
        max-width: 80%;

        @include bp-xl {
            font-size: 86px;
            margin-bottom: 10px;
            max-width: 80%;
            line-height: 95px;
        }

        @include bp-xs {
            font-size: 32px;
            line-height: 35px;
            max-width: 100%;
        }
    }

    .slide-text {
        color: $white;
        font-size: 64px;

        font-family: $font-family-titles;
        font-weight: 500;

        @include bp-xl {
            font-size: 32px;
        }
    }

    .slide-btn {
        position: absolute;
        bottom: $full-padding-gap;
        left: 140px;

        &.desktop {
            @include bp-xl {
                display: none;
            }
        }

        &.tablet {
            display: none;

            @include bp-xl {
                @include resetPosition();

                display: flex;

                margin-top: 35px;
            }

            @include bp-xs {
                display: none;
            }
        }

        &.mobile {
            @include bp-xs {
                @include translateX(-50%);
                
                display: flex;
                position: absolute;
                bottom: 20px;
                left: 50%;
            }
        }

    }

    .slide-link {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }

    .arrow {
        position: absolute;
        z-index: 1;
    
        background: $white;
        border: 2px solid transparent;
        border-radius: 50%;
        width: $arrow-size;
        height: $arrow-size;
    
        cursor: pointer;
    
        &-img {
            margin: 27px 0 0 22px;
        }
    }

    &.inline-arrows {
        overflow-y: initial;

        .arrow {
            @include translateY(-50%);

            top: 50%;

            background: transparent;
            border-color: $white;
            
            &-left {
                left: calc(-#{$arrow-size} + -67px);
            }

            &-right {
                right: calc(-#{$arrow-size} + -67px);
            }
        }

    }
}